<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="40c87b27-5f44-4084-ba41-4d30e4025614" wadlVersion="http://wadl.dev.java.net/2009/02" name="Retrive-setting-All" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="40c87b27-5f44-4084-ba41-4d30e4025614fileName">Copy-of-Retrive-setting-All</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
