<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="69deb8d5-c9e6-4890-b8e1-c5a9e53b0bef" wadlVersion="http://wadl.dev.java.net/2009/02" name="updateAppliances" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="69deb8d5-c9e6-4890-b8e1-c5a9e53b0beffileName">updateAppliances</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
