<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0f8af104-61db-4663-821d-aac07ccffd68" wadlVersion="http://wadl.dev.java.net/2009/02" name="UnClaim Appliance" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="0f8af104-61db-4663-821d-aac07ccffd68fileName">UnClaim-Appliance</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
