<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1f2bc0b7-e7b7-49bf-88b2-3c8859f8bc2d" wadlVersion="http://wadl.dev.java.net/2009/02" name="Retrieve NotificationMessages" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1f2bc0b7-e7b7-49bf-88b2-3c8859f8bc2dfileName">Retrieve-NotificationMessages</con:setting>
  </con:settings>
  
  <con:definitionCache type="TEXT" rootPart=""/><con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
<con:environmentSpec><con:entry environmentId="e557dfa4-ea64-4e83-988f-317cbc736505"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>