<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f9da315a-04ea-4433-a5f3-379b4138e117" wadlVersion="http://wadl.dev.java.net/2009/02" name="Delete Rule" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f9da315a-04ea-4433-a5f3-379b4138e117fileName">Delete-Rule</con:setting>
  </con:settings>
  
  <con:definitionCache type="TEXT" rootPart=""/><con:endpoints>
    <con:endpoint>http://location/420/nes</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="b74c2924-5d4b-41b7-a14b-5522870d29dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
