<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5fc7ec47-8048-4e09-accb-dced35aaa4b0" wadlVersion="http://wadl.dev.java.net/2009/02" name="Appliance Category" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5fc7ec47-8048-4e09-accb-dced35aaa4b0fileName">Appliance-Category</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://api.us.apiconnect.ibmcloud.com</con:endpoint>
  </con:endpoints>
</con:interface>
