<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="060c1d18-2308-4854-a631-83a8093411bb" wadlVersion="http://wadl.dev.java.net/2009/02" name="Start replenishment" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="060c1d18-2308-4854-a631-83a8093411bbfileName">Start-replenishment</con:setting>
  </con:settings>
  
  <con:definitionCache type="TEXT" rootPart=""/><con:endpoints>
    <con:endpoint>http://amazonreplenishmentserviceqa-v2.mybluemix.net</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="1653fcad-25f1-42dc-b777-d850bb70a926">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f6279578-3a49-4834-9a7b-8e92ae71f8e9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b74c2924-5d4b-41b7-a14b-5522870d29dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  <con:entry environmentId="e557dfa4-ea64-4e83-988f-317cbc736505"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec>
</con:interface>