<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="99774db2-6abc-4982-bce7-531f6eda964b" wadlVersion="http://wadl.dev.java.net/2009/02" name="History-Cycle" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="99774db2-6abc-4982-bce7-531f6eda964bfileName">History-Cycle</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
