<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c5c99a13-cd32-4aa3-a6c8-d8c901e1955e" wadlVersion="http://wadl.dev.java.net/2009/02" name="Update Rule" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c5c99a13-cd32-4aa3-a6c8-d8c901e1955efileName">Update-Rule</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://location/420/nes</con:endpoint></con:endpoints></con:interface>
