<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="667b9729-de7f-473d-8af4-637e3dd4c336" wadlVersion="http://wadl.dev.java.net/2009/02" name="create or update-cycle" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="667b9729-de7f-473d-8af4-637e3dd4c336fileName">Copy-of-create-or-update-cycle</con:setting>
  </con:settings>
  
  <con:definitionCache type="TEXT" rootPart=""/><con:endpoints>
    <con:endpoint>https://{{Favorites}}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="b74c2924-5d4b-41b7-a14b-5522870d29dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  <con:entry environmentId="e557dfa4-ea64-4e83-988f-317cbc736505"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec>
</con:interface>