<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fa392730-9297-4984-8607-ce7655544572" wadlVersion="http://wadl.dev.java.net/2009/02" name="Delete-SettingByAttribute" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fa392730-9297-4984-8607-ce7655544572fileName">Copy-of-Delete-SettingByAttribute</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{Favorites}}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="b74c2924-5d4b-41b7-a14b-5522870d29dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
