<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="15378e6c-d031-425e-8bd9-cc0a7e6546f8" wadlVersion="http://wadl.dev.java.net/2009/02" name="History-Fault Code" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="15378e6c-d031-425e-8bd9-cc0a7e6546f8fileName">History-Fault-Code</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
