<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="18415c85-0509-4725-9b5e-9b33338cacaf" wadlVersion="http://wadl.dev.java.net/2009/02" name="Delete timer" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="18415c85-0509-4725-9b5e-9b33338cacaffileName">Delete-timer</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
