<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5d56ad4d-2f4a-4eea-bf2f-fc0242d34dbd" wadlVersion="http://wadl.dev.java.net/2009/02" name="searchRecipe" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5d56ad4d-2f4a-4eea-bf2f-fc0242d34dbdfileName">searchRecipe</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://{{API-Connect}}</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="f6279578-3a49-4834-9a7b-8e92ae71f8e9"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
