<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5069fc6d-5527-4aef-820c-801da24d8770" wadlVersion="http://wadl.dev.java.net/2009/02" name="PUSH Notification" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="5069fc6d-5527-4aef-820c-801da24d8770fileName">PUSH-Notification</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
