<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dfc0d809-0292-4df4-99f5-209a759d408c" name="Prod Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Single Page (Print)</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Users\MB5027676\Desktop</con:setting>
    <con:setting id="08d716b0-d72a-4b2e-8d65-6c52af8434f5fileName">Regression-Suite</con:setting>
    <con:setting id="dfc0d809-0292-4df4-99f5-209a759d408cfileName">Prod-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Email_ID</con:name>
      <con:value>"SAT_APR_28_16_20_17_IST_2018@MAILINATOR.COM"</con:value>
    </con:property>
    <con:property>
      <con:name>Email_ID_string</con:name>
      <con:value>SAT_APR_28_16_20_17_IST_2018@MAILINATOR.COM</con:value>
    </con:property>
    <con:property>
      <con:name>Account_ID</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
    </con:property>
    <con:property>
      <con:name>Verification_Code</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Account_Email</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Location_ID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Group_Name</con:name>
      <con:value>"SANITY_GROUP_FRI_APR_20_18_20_41_IST_2018"</con:value>
    </con:property>
    <con:property>
      <con:name>Group_Name_string</con:name>
      <con:value>SANITY_GROUP_FRI_APR_20_18_20_41_IST_2018</con:value>
    </con:property>
    <con:property>
      <con:name>Template_ID</con:name>
      <con:value>DEMO_COMMER_LAUNDRY-2</con:value>
    </con:property>
    <con:property>
      <con:name>Data Combination</con:name>
      <con:value>Negative</con:value>
    </con:property>
    <con:property>
      <con:name>TestCaseNumber</con:name>
      <con:value>TC_1</con:value>
    </con:property>
    <con:property>
      <con:name>Run_Summary_Path</con:name>
      <con:value>C:/Users/BHANAM/Documents/TestResults/2017-09-07/Result_Summary/</con:value>
    </con:property>
    <con:property>
      <con:name>Status</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Pass</con:value>
    </con:property>
    <con:property>
      <con:name>Run_count</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>Email_cnf</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Email_fgtpwd</con:name>
      <con:value>abc@hmail.com</con:value>
    </con:property>
    <con:property>
      <con:name>Refresh_Token_String</con:name>
      <con:value>"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiJNT0hJVC5CSEFOQVdBVEBZTUFJTC5DT00iLCJzY29wZSI6WyJ0cnVzdCIsInJlYWQiLCJ3cml0ZSJdLCJvcmdhbml6YXRpb24iOiJXaGlybHBvb2wgT3JnYW5pemF0aW9uIiwiYXRpIjoiNzk5NjFhMjUtMDIxMy00NWM4LTljZGMtYzAwYWIzZjYyMmU0IiwiZXhwIjoxNTEyNDc5OTU5LCJhdXRob3JpdGllcyI6WyJST0xFX0NPTVBBTllfQURNSU4iXSwianRpIjoiYjBlNGZkNTctNDhkOS00NDY0LWEzMjUtMDE5YmM1MTk3ZjYzIiwiY2xpZW50X2lkIjoic3ludGVsIn0.ZrU30m3I0o872LlC_FEwETRpDU1g0ONaIgAV-_QLUgY"</con:value>
    </con:property>
    <con:property>
      <con:name>Group_ID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Location_Number</con:name>
      <con:value>36203</con:value>
    </con:property>
    <con:property>
      <con:name>Alternate_Email</con:name>
      <con:value>"EMPALT_THU_MAR_22_14_58_37_IST_2018@MAILINATOR.COM"</con:value>
    </con:property>
    <con:property>
      <con:name>Alternate_Email_String</con:name>
      <con:value>EMPALT_THU_MAR_22_14_58_37_IST_2018@MAILINATOR.COM</con:value>
    </con:property>
    <con:property>
      <con:name>Company_Email_ID</con:name>
      <con:value>"THU_MAR_22_14_58_25_IST_2018@MAILINATOR.COM"</con:value>
    </con:property>
    <con:property>
      <con:name>Company_Email_ID_string</con:name>
      <con:value>THU_MAR_22_14_58_25_IST_2018@MAILINATOR.COM</con:value>
    </con:property>
  </con:properties>
  <con:setupScript/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="4398ae1d-0351-4fb3-a5a2-3711b104c124">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="dc59d3b0-2cc1-4c91-a36d-62642d50ba5a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="5c297842-d8ad-466b-8b05-f06abf54bfe2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="276146a1-7fd3-46fe-b2f6-638c85bb127c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="1653fcad-25f1-42dc-b777-d850bb70a926">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="355af1cd-ed93-49d8-b6be-b3da6c1def92">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f6279578-3a49-4834-9a7b-8e92ae71f8e9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b74c2924-5d4b-41b7-a14b-5522870d29dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e557dfa4-ea64-4e83-988f-317cbc736505">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="caf27257-7156-4318-b2df-f8a12834f2ff">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="df44efd9-a23b-4823-b5f2-427a6ee63b9f">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
