<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6df5d884-b0e6-4488-9a56-1b8cffb59938" wadlVersion="http://wadl.dev.java.net/2009/02" name="Device Registered Notification" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6df5d884-b0e6-4488-9a56-1b8cffb59938fileName">Device-Registered-Notification</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://amazonreplenishmentserviceqa-v2.mybluemix.net</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="1653fcad-25f1-42dc-b777-d850bb70a926"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="f6279578-3a49-4834-9a7b-8e92ae71f8e9"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
