<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ff248feb-de12-462a-acc2-84ae4f2c5e2a" wadlVersion="http://wadl.dev.java.net/2009/02" name="getallappliances_by_accountid" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ff248feb-de12-462a-acc2-84ae4f2c5e2afileName">getallappliances_by_accountid</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
