<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="cab9889a-482f-4fce-b09b-f971f821b45d" wadlVersion="http://wadl.dev.java.net/2009/02" name="DDM notification" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cab9889a-482f-4fce-b09b-f971f821b45dfileName">DDM-notification</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://api.us.apiconnect.ibmcloud.com</con:endpoint>
  </con:endpoints>
</con:interface>
