<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="dae38aae-fec8-44d1-98ca-414b04559d33" wadlVersion="http://wadl.dev.java.net/2009/02" name="Smart_energy" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="dae38aae-fec8-44d1-98ca-414b04559d33fileName">Smart_energy</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://{{API-Connect}}</con:endpoint></con:endpoints></con:interface>
