<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="92f70dd3-3dd5-42f9-ac47-8449f7b60b84" wadlVersion="http://wadl.dev.java.net/2009/02" name="Create notification template" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="92f70dd3-3dd5-42f9-ac47-8449f7b60b84fileName">Create-notification-template</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="4398ae1d-0351-4fb3-a5a2-3711b104c124">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="dc59d3b0-2cc1-4c91-a36d-62642d50ba5a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="5c297842-d8ad-466b-8b05-f06abf54bfe2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="276146a1-7fd3-46fe-b2f6-638c85bb127c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="1653fcad-25f1-42dc-b777-d850bb70a926">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="355af1cd-ed93-49d8-b6be-b3da6c1def92">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f6279578-3a49-4834-9a7b-8e92ae71f8e9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b74c2924-5d4b-41b7-a14b-5522870d29dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e557dfa4-ea64-4e83-988f-317cbc736505">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="caf27257-7156-4318-b2df-f8a12834f2ff">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="df44efd9-a23b-4823-b5f2-427a6ee63b9f">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="cfd7f8e8-bdc7-4ee9-bf77-f22acc661003">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bd7aeaa6-952f-4fe0-b414-2ed70d659793">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
