<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="62295b15-5df9-4a84-8904-9a00d9e843db" wadlVersion="http://wadl.dev.java.net/2009/02" name="getCountriesAndStates" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="62295b15-5df9-4a84-8904-9a00d9e843dbfileName">getCountriesAndStates</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://{{API-Connect}}</con:endpoint></con:endpoints></con:interface>
