<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6be5e719-3d03-4ac9-814c-1d552e943550" wadlVersion="http://wadl.dev.java.net/2009/02" name="user search" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6be5e719-3d03-4ac9-814c-1d552e943550fileName">user-search</con:setting>
  </con:settings>
  
  <con:definitionCache type="TEXT" rootPart=""/><con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
