<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b94b91c4-a937-470c-8c8b-023a6c67b78d" wadlVersion="http://wadl.dev.java.net/2009/02" name="getallinvitedmember" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b94b91c4-a937-470c-8c8b-023a6c67b78dfileName">getallinvitedmember</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://{{API-Connect}}</con:endpoint></con:endpoints></con:interface>
