<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5b714689-3644-44cc-9eb1-29e6614d994b" wadlVersion="http://wadl.dev.java.net/2009/02" name="Get User Nest Preference" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5b714689-3644-44cc-9eb1-29e6614d994bfileName">Get-User-Nest-Preference</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://location/420/use</con:endpoint></con:endpoints></con:interface>
