<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="491041cf-d812-48b9-82a1-abc0c66023f9" wadlVersion="http://wadl.dev.java.net/2009/02" name="Fetch device specific notifications" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="491041cf-d812-48b9-82a1-abc0c66023f9fileName">Fetch-device-specific-notifications</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
