<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ebf4aa2a-bd16-4047-b845-8b075b206cf4" wadlVersion="http://wadl.dev.java.net/2009/02" name="Retrive-setting-favfill" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ebf4aa2a-bd16-4047-b845-8b075b206cf4fileName">Retrive-setting-favfill</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{Favorites}}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="b74c2924-5d4b-41b7-a14b-5522870d29dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e557dfa4-ea64-4e83-988f-317cbc736505">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
